.main {
    background-color: lightyellow;
    font-weight: bold;
}

.hcell {
    border-left-width: 4px !important;
}

.bcell {
    border-right-width: 4px !important;
}

.fatline {
    border-top: 4px solid #dee2e6;
}


th,
td {
    text-align: center;
}

.iframe-norsk-tipping {
    border: none;
    height: 530px;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 20px;
}

.button-menu {
    margin-bottom: 15px;
}

.system-progress {
    margin-bottom: 15px;
}