.main {
    background-color: lightyellow;
    font-weight: bold;
}

.hcell {
    border-left-width: 4px !important;
}

.bcell {
    border-right-width: 4px !important;
}


th,
td {
    text-align: center;
}